{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/work.css' %}">
    <script src="https://kit.fontawesome.com/02d964236d.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Портфолио</title>
</head>
<body>
<div class="container">
    <aside>

            <form action="/">
                <button type="submit" class="btn btn-warning"><i class="fa-solid fa-chevron-left"></i> Назад</button>
            </form>
    </aside>

    <h1>О себе</h1>
    <p>
        Меня зовут Альберт Штурнев, я студент первого курса СПО БГТУ «ВОЕНМЕХ»,
        учусь на факультете «Информационные системы и программирование».
    </p>
    <p>
        Программированием занимаюсь пятый год, за это время изучил различные инструменты и библиотеки на языке Python,
        работал с Tkinter, Kivy, Socket.
    </p>
    <p>
        Я постоянно совершенствую свои знания, самостоятельно изучаю разные темы в этом направлении.
    </p>
    <p>
        В будущем вижу себя квалифицированным программистом в области IT.
    </p>
    <p>
        В этой профессии меня привлекает отсутствие рамок роста и творческая часть IT, а именно,
        создание различных систем, поиск путей решения задач, реализация собственных идей.
    </p>
    <p>
        За три года, реализовал следующие проекты:
    </p>

    <h1>2020</h1>
    <p>
        В 2020 году участвовал в олимпиаде Военмеха по программированию и занял третье место.
        Проектировал и презентовал игру Space Threat. Целью олимпиады было создать обучающую игру.
    </p>

    <aside>
        <img src="{% static 'img/SpaceThreatLogo.png' %}" width="35%">
        <p>
            При входе в игру пользователя встречает главное меню, в котором можно побольше узнать про игру и начать играть.
            По ходу игры игроку нужно уничтожать астероиды, чтобы те не нанесли вред космической базе.
            В игре генерируется поток астероидов на каждом из которых нанесена буква английского алфавита.
            При нажатии на букву пушка выстреливает в соответствующей этой букве астероид.
            Таким образом игрок запоминает положения букв на клавиатуре и может тренировать слепую печать.
            Также в игре ведется подсчет очков. С их ростом игра усложняется. Игра создана на Python с применением Pygame.
            В проекте применены принципы ООП. Вся графика была создана самостоятельно, единственное,
            что взято со сторонних источников, звук.
        </p>
        <img src="{% static 'img/SpaceThreatGame.png' %}" width="100%">
    </aside>

    <h1>2022-2023</h1>
    <p>В 2022-2023 году разработал два приложения.</p>

    <aside>
        <img src="{% static 'img/AllNoteLogo.png' %}" width="35%">
        <p>
            Приложение AllNote создано для удобного построения логических карт. Приложение имеет динамический холст,
            на котором пользователь может создавать свой проект. Также в нем можно создавать блоки с контентом “Frame” и
            связывать их с помощью связей “Node”. В режиме рисования можно менять цвет и толщину кисти.
            Приложение поддерживает отмену действий. Также можно сохранить созданный проект.
            Приложение написано на Python с применением фреймворка Kivy, но без применения kv design language.
        </p>
        <img src="{% static 'img/AllNoteExp.png' %}" width="100%">
    </aside>


    <aside>
        <img src="{% static 'img/InTab.png' %}" width="35%">
        <p>
            Приложение InTab служит для более удобного распределения времени и просмотра расписания.
            Приложение самостоятельно определяет дату, время и номер недели.
            Так же можно записывать дополнительные задания и события, которые могут возникать в ходе учебного процесса.
            Приложение может считать время до начала события и отображать его.
            Также в приложении можно просматривать организационную информацию,
            такую как: номер кабинета, время начала и конца, имя преподавателя.
            Приложение написано на Python с применением фреймворка Kivy и kv design language.
            Приложение скомпилировано в APK файл и работает на Android. Расписание можно загрузить в приложение в виде
            текста после чего приложение сохранит его в json файл.
        </p>
        <img src="{% static 'img/InTabLayout.png' %}" width="100%">
    </aside>

</div>
</body>
</html>